@charset "utf-8";

main {
    width: 100%;
    max-width: 1920px; 
    margin: 0 auto;

    margin-top: 120px;
}
main img {
    width: 100%;
    display: block;
}

section {
    width: 100%;
    padding-top: 100px;
}

section article.brand {
    width: 1280px;
    margin: 0 auto;
}

section article.brand h2 {
    color: #b81c2e;
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    font-family: 'GyeonggiBatangROTFA';
    margin-bottom: 30px;
    /* margin-top: 50px; */
}
section article.brand .tabmenu {
    text-align: center;  
    margin-bottom: 60px;
   
    /* outline: 2px solid green; */
}

article.brand .tabmenu ul {}

article.brand .tabmenu ul li {
    float: none; 
    display: inline-block;
    margin: 0 10px;

    /* outline: 1px solid red; */
}
article.brand .tabmenu ul li a {
    color: #000;
    font-size: 20px;
    font-weight: bold;   
}


/* 현재 보여지는 페이지에 선택된 탭메뉴!!!  */
article.brand .tabmenu ul li.on::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #b81c2e;
}
article.brand .tabmenu ul li.on {


}
article.brand .tabmenu ul li.on a {
    color: #b81c2e;
}


/* 브랜드 스토리 */
article.brand .content-box {
    width: 100%;
   /*  background-color: antiquewhite;  */  
}

article.brand .content-box > div {
    /* height: 500px; */
    position: relative; /* txt-box 기준! */
    
    margin-bottom: 10px;
    /* outline: 2px solid blue; */
}
article.brand .content-box >div::after {
    content: "";
    display: block;
    clear: both;
}

article.brand .content-box >div .img-box {
    width: 50%;
    /* max-width: 500px; */
    border-radius: 30px;
    overflow: hidden;
    float: left;
    margin-right: 5%;

    /* outline: 2px solid red; */
}
article.brand .content-box .img-box img {
    width: 100%;
    display: block;
}

article.brand .content-box >div .txt-box {
    /* width: 45%; */
    width: 50%;
    float: left;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;

    text-align: center;
   /*  right: 5%; */
}

/* 짝수번째 img-box*/
article.brand .content-box .even {
    /*  position: relative; */
    width: 100%;
 }
 article.brand .content-box .even .img-box {  
    /*  position: absolute;
     right: 0; */
     /* width: 45%; */
     float: right;   
     width: 50%;  
     margin-right: 0;
 }

/* 짝수번째 txt-box */

article.brand .content-box .even .txt-box {
    left: 0;
    width: 50%;  
    /* outline: 2px solid aqua; */
}

article.brand .content-box .txt-box h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
article.brand .content-box .txt-box p {
    font-size: 20px;
    word-break: break-all;
}


/* mean */
section.mean {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto 
}
section.mean article.meant {
    margin-bottom: 80px;

    /* outline: 2px solid aqua; */
}
article.meant .meant-box {}
article.meant .meant-box .en {
    font-size: 34px;
    font-weight: 700;
    color: #b81c2e;
    text-align: center;
    margin: 50px 0;
}

article.meant .meant-box ul {

    /* outline: 2px solid green; */
}
article.meant .meant-box ul li {
    width: 20%;
    text-align: center;

    margin-bottom: 30px;
   
    /* outline: 2px solid red; */
}
article.meant .meant-box ul li img {
    margin-bottom: 12px;
}
article.meant .meant-box .img-txt {
    font-weight: bold;
    /* outline: 2px solid red; */
}
article.meant .txt {
    text-align: center;
    margin: 50px 0;
}
article.meant .txt span {
    color: #c32032;
}
article.meant .txt .gb {
    font-size: 40px;
    font-family: 'GyeonggiBatangBOTFA';
    margin : 20px 0;
}
article.meant .txt .ko {
    /* font-weight: bold; */
    font-size: 18px;
}