@charset "utf-8";

main {
    width: 100%;
    max-width: 1920px;
    margin: 120px auto 0;
}

main img {
    width: 100%;
    display: block;
}

section {
    width: 100%;
}

section article.order {}
section article.order h1 {
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    margin: 20px 0;
}
section article.order .or-txt {
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

article.order .content-box {
    width: 100%;
}

article.order .content-box .content {
    background-color: #ECDFCC;
   /*  margin: 50px 0; */

}

article.order .content-box .content .step {
    width: 1280px;
    margin: 0 auto;
   
    background-color:#fff;

    position: relative;

    /* outline: 2px solid green */
}

.content-box .content .step .img-box {
    width: 50%;
    float: left;

    /* margin-left: 5%; */
    padding: 10px 0;
   /*  outline: 2px solid red; */
}
.content-box .content .step .img-box img {
    margin: 23px;
    /* display: block;  */

    /* outline: 2px solid tomato; */ 
 }
.content-box .content .step .img-box  img~img {}


.content-box .content .step .img-box2 {
    width: 50%;
    float: left;

    /* margin-left: 5%; */
    /* padding: 20px 0; */
    
}
.content-box .content .step .img-box2 img {
    margin: 20px 55px;
    /* outline: 2px solid red; */
}

.content-box .content .step .img-box2 img~img {
  
   /* outline: 2px solid tomato; */
}

.content-box .content .step .img-box3 {
    width: 50%;
    float: left;

   
    /* outline: 2px solid red; */
}

.content-box .content .step .img-box3 img {
    margin-left: 10%;
    padding-bottom: 30px;
    
}
.content-box .content .step .img-box3 .ice {
    display: block;
    /* width: 100%; */
    margin-left: 27%;  
    /* outline: 2px solid green; */   
}

/* txt-box */
.content-box .content .txt-box  {
    width: 50%;
    float: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);

    
    text-align: center;
   
    /* outline: 2px solid tomato; */
}
.content-box .content .txt-box h2  {
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.content-box .content .txt-box p {
    font-size: 24px;
    text-align: center;
}

.content-box .em-box {
    width: 1280px;
    margin: 0 auto;
    height: 150px;
    background-color: #B6A28E;
    margin-top: -50px;
}